* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  src: url("./Fonts/IRANYekan.woff") format("woff"),
    url("./Fonts/IRANYekan.woff2") format("woff2");
}
@font-face {
  font-family: IRANYekan-light;
  font-style: normal;
  font-weight: 300;
  src: url("./Fonts/IRANYekanLight.woff") format("woff"),
    url("./Fonts/IRANYekanLight.woff2") format("woff2");
}
@font-face {
  font-family: IRANYekan-bold;
  font-style: normal;
  font-weight: bold;
  src: url("./Fonts/IRANYekanBold.woff") format("woff"),
    url("./Fonts/IRANYekanBold.woff2") format("woff2");
}
html {
  width: 100%;
}
body {
  font-family: IRANYekan;
}
a {
  text-decoration: none;
}
