.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.Home-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar {
  margin-top: 5rem;
  margin-left: 2rem;
}

.nav-item {
  font-size: 1.2rem;

  margin-bottom: 1rem;
  cursor: pointer;
  text-decoration: none;
}
.nav-item > a:hover {
  color: #106fdf;
}
.nav-item > a {
  color: #314252;
  font-weight: 600;
}
