.Query-container {
  width: 800px;
  /* width: 70%; */
  margin-bottom: 5rem;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 1rem;
  transition: 0.3s;
}
@media screen and (max-width: 1000px) {
  .Query-container {
    width: 100%;
  }
}
.Query-container:hover {
  transform: scale(1.02);
  transition: 0.3s;
}
.Query-container-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.Query-top {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  margin: 0 0 1.7rem 0;
}
.Resaltbtn {
  font-size: 1.2rem;
  background-color: #106fdf;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
}
.Query-text {
  font-size: 1.2rem;
  color: #0c2238;
  cursor: pointer;
}
.Query-text:hover {
  color: #106fdf;
}
.Query-number {
  width: 2rem;
  height: 2rem;
  color: #ffffff;
  background-color: #106fdf;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 0.5rem;
}
.Query-code {
  width: 100%;
  overflow: auto;
  border-radius: 12px;
  border: #1071df96 2px solid;
}
